S3method(coef,dynpan_lars)
S3method(predict,dynpan_lars)
S3method(summary,dynpan_lars)
export(constant_weight_function)
export(flanner_by_measurement)
export(irregular_derivatives)
export(local_polynomial_derivatives)
export(local_polynomial_fits)
export(lookup_neighbour_indices)
export(lookup_neighbour_trajectories)
export(nobs.dynpan_lars)
export(pad_column)
export(remove_matrices)
export(simple_weight_function)
export(step_derivatives)
export(time_table_lars)
export(time_table_leaps)
import(data.table)
import(flanner)
import(lars)
import(leaps)
import(timetablr)
